.aside--container {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(40% + 0px);
  overflow: auto;
  height: 100vh;
  background-color: #F5F7F9;
  z-index: 1;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0, 0.9), box-shadow 0.3s cubic-bezier(0.7, 0, 0, 0.9), width 0.3s cubic-bezier(0.7, 0, 0, 0.9);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}


.aside--container > ul {
  float: right;
  margin: 20px;
}

.aside--container ul {
  margin-left: 10px;
  list-style: none;
}

.aside--container ul li {
  margin: 10px;
}

.h-menu {
  position: absolute;
  right: -40px;
  top: 20px;
  width: 26px;
  height: 40px;
  z-index: 3;
  transform: rotate(0deg) scaleY(0.6);
  transition: right 0.3s cubic-bezier(0.7, 0, 0, 0.9), transform 0.3s cubic-bezier(0.7, 0, 0, 0.9);
}

.h-menu.open {
  transform: rotate(180deg) scaleY(1);
}

.h-menu .bar {
  width: 26px;
  height: 3px;
  display: inline-block;
  background-color: black;
  position: absolute;
  left: 0;
  transition: 0.3s cubic-bezier(0.7, 0, 0, 0.9);
}

.bar-1 {
  top: 5px;
}
.h-menu.open .bar-1 {
  transform: rotate(45deg) translate(15px, -3px);
  width: 18px !important;
}

.bar-2 {
  top: 19px;
}

.bar-3 {
  bottom: 5px;
}
.h-menu.open .bar-3 {
  transform: rotate(-45deg) translate(14px, 4px);
  width: 18px !important;
}

main {
  position: fixed;
  top: 0;
  left: 40%;
  height: 100vh;
  width: 60%;
  overflow: auto;
  padding: 30px;
  padding-top: 50px;
  transition: width 0.3s cubic-bezier(0.7, 0, 0, 0.9), left 0.3s cubic-bezier(0.7, 0, 0, 0.9), opacity 0.3 ease;
}

main h1,
main pre,
main p {
  transition: 0.3s ease;
  opacity: 1;
}

@media (max-width: 570px) {
  .aside--container {
    width: calc(0% + 250px);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.8);
    transform: translate(-100%);
  }
  .aside--container.open {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    transform: translate(0%);
  }
  main {
    left: 0%;
    width: 100%;
  }
  main h1,
  main pre,
  main p {
    opacity: 1;
  }
  main.open h1,
  main.open pre,
  main.open p {
    opacity: 0;
  }
  .h-menu {
    right: 15px
  }
}

pre,
code {
  font-family: 'Roboto Mono', consolas !important;
  background: white !important;
}

h1, h2, h3, h4, h5, h6,
p, ul li, ul, li {
  font-family: 'Open Sans';
}

h1 { font-size: 40px; }
h1, h2, h3, h4, h5, h6 {
  color: #342B59;
  font-weight: normal;
  margin-bottom: 25px;
}

ul li a {
  text-decoration: none;
  color: rgba(0,0,0,0.5);
}

p {
  line-height: 1.9em;
  max-width: 489px;
}

.img--aside-img {
  margin-left: -30px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.button--special-wave {
  display: inline-block;
  pad: 10px;
  border: 1px solid #d2d2d2;
  background-color: white;
  border-radius: 4px;
  color: #0099E5;
  cursor: pointer;
  padding: 3px 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-family: 'Open Sans';
  font-weight: 400;
  transition: 0.1s ease;
  user-select: none;
  margin-top: 10px;
  margin-right: 10px;
}

.button--special-wave:active {
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a, button, input {
  outline: none;
}

.hidden {
  display: none;
}

.separator {
  width: 90%;
  max-width: 400px;
  height: 1px;
  margin-left: -30px;
  margin-top: 20px;
}

.to-left {
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.06), rgba(0,0,0,0));
}
.to-right {
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1));
}

.main--info-section {
  animation: 0.3s fadeIn 1 ease;
}

@keyframes fadeIn {
  from {
    transform: translate(-10px);
    opacity: 0.3;
  }
  to {
    transform: translate(0px);
    opacity: 1;
  }
}

.link-on a {
  color: #0099E5;
}

p small {
  color: gray;
}

p small a {
  color: #0099E5;
}

.pd-left-15 {
  padding-left: 20px;
}
