.aside--container {
  position: fixed;
  left: 0;
  top: 0;
  width: 40%;
  overflow: auto;
  height: 100vh;
  background-color: #F5F7F9;
}

.aside--container > ul {
  float: right;
  margin: 20px;
}

.aside--container ul {
  margin-left: 10px;
  list-style: none;
}

.aside--container ul li {
  margin: 10px;
}

main {
  position: fixed;
  top: 0;
  left: 40%;
  height: 100vh;
  width: 60%;
  overflow: auto;
  padding: 30px;
  padding-top: 50px;
}

pre,
code {
  font-family: 'Roboto Mono', consolas !important;
  background: white !important;
}

h1, h2, h3, h4, h5, h6,
p, ul li, ul, li {
  font-family: 'Open Sans';
}

h1 { font-size: 40px; }
h1, h2, h3, h4, h5, h6 {
  color: #342B59;
  font-weight: normal;
  margin-bottom: 25px;
}

ul li a {
  text-decoration: none;
  color: rgba(0,0,0,0.5);
}

p {
  line-height: 1.9em;
  max-width: 489px;
}

.img--aside-img {
  margin-left: -30px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.button--special-wave {
  display: inline-block;
  pad: 10px;
  border: 1px solid #d2d2d2;
  background-color: white;
  border-radius: 4px;
  color: #0099E5;
  cursor: pointer;
  padding: 3px 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-family: 'Open Sans';
  font-weight: 400;
  transition: 0.1s ease;
  user-select: none;
  margin-top: 10px;
  margin-right: 10px;
}

.button--special-wave:active {
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a, button, input {
  outline: none;
}

.hidden {
  display: none;
}

.separator {
    width: 90%;
    max-width: 400px;
    height: 1px;
    margin-left: -30px;
    margin-top: 20px;
}

.to-left {
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.06), rgba(0,0,0,0));
}
.to-right {
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1));
}

.main--info-section {
  animation: 0.3s fadeIn 1 ease;
}

@keyframes fadeIn {
  from {
    transform: translate(-10px);
    opacity: 0.3;
  }
  to {
    transform: translate(0px);
    opacity: 1;
  }
}

.link-on a {
  color: #0099E5;
}

p small {
  color: gray;
}

p small a {
  color: #0099E5;
}

.pd-left-15 {
  padding-left: 20px;
}
